.movie-content {
    margin-top: 4.2em;
    width: 90%
}

.movie-share {
    display: block;
    width: 100%;
}


.m-widget4 .m-widget4__item .m-widget4__img.m-widget4__img--pic img{
    width: 20rem;
    border-radius: 10%;
}

.m-portlet .m-portlet__body{
    padding: 0.1rem 1rem;
}

.m-portlet.m-portlet--full-height{
    background-color: #f8f8f8 ;
}

.m-widget4 .m-widget4__item .m-widget4__info{
    vertical-align: top;
    width: 50%;
}

.cel_divide{

    border-top: 2px solid #ebedf2;
    width: 16rem;


}

.checked {
    color: orange;
    
  }

  .m-widget4 .m-widget4__item .m-widget4__info .m-widget4__title{
      font-size: 22px;
      text-decoration: underline;
  }

  i+i {
    margin-left: 10px;
  }

  