<div class="m-subheader" appunwraptag="">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title">Available Meeting Rooms in Dubai Marina</h3>
			<p>Meetings, offsites, events, interviews. Beautiful private space <br>
				for productive work available for instant booking online.</p>
		</div>
	</div>
</div>
<div class="m-content">
	<div class="row">
		<div class="col-xl-12">
			<div class="m-portlet m-portlet--full-height">
				<div class="m-portlet__body">
					<div class="tab-content">
						<div class="tab-pane active" id="m_widget4_tab1_content">
							<div class="m-widget4">
								<div class="m-widget4__item">
									<div class="m-widget4__img m-widget4__img--pic"> <img
											src="./../../../../../assets/demo/demo4/media/img/logo/cowork4.jpg" alt="">
									</div>
									<div class="m-widget4__info">
										<span class="m-widget4__title">
											Rove City Center
										</span><br>
										<div style="padding-top: 10px;">
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star"></span>
											<span class="fa fa-star"></span>3
										</div>

										<div style="padding-top: 10px;">
											<span class="m-widget4__sub"> <i class="fa fa-map-marker-alt"></i> Visual
												Designer,Google Inc </span>

										</div>

										<div style="padding-top: 10px;">
											<span class="m-widget4__sub">
												<i class="fa fa-wifi" style="color: #538EFD;">Wifi</i>
												<i class="fa fa-chalkboard" style="color: #538EFD;">Whiteboard</i>
											</span>
										</div>

										<div style="padding-top: 5px;">
											<span class="m-widget4__sub">
												<i class="fa fa-car" style="color: #538EFD;">Parking</i>
												<i class="fa fa-tv" style="color: #538EFD;">Projector</i>
											</span>
										</div>



									</div>
									<div class="m-widget4__ext">
										<div class="m-widget4__info">
											<div
												style="height: 100px;width: 250px; background-color: #F2F7FF; padding: 10px;">
												<span class=""
													style="font-size: 20px; color: #6dd300; font-weight: 600;">
													AED 150/Hour
												</span><br>
												<div style="padding-top: 10px;">
													<span class="m-widget4__sub"> <i class="fa fa-check"
															style="color: #3078FF"></i>Book Instantly </span> <br>
													<span class="m-widget4__sub"> <i class="fa fa-check"
															style="color: #3078FF;"></i>Cancel for free up to 24 hours
														before </span>
												</div>
											</div>
										</div>
										<div style="padding: 5px 30px 0px 40px;">
											<i class="fa fa-users" style="color: #3078FF;"></i>
											<span class="m-widget4__sub" style="color: #3078FF; font-weight: 600;">6
												Meeting Rooms</span>
										</div>
										<br>
										<div style="padding-left: 16px;">
											<a href="#" class="m-btn m-btn--pill btn btn-info" style="width: 220px;
										height: 40px;
										border-radius: 10px;
										background-color: #3078ff;">View Room</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-xl-12">
			<div class="m-portlet m-portlet--full-height">
				<div class="m-portlet__body">
					<div class="tab-content">
						<div class="tab-pane active" id="m_widget4_tab1_content">
							<div class="m-widget4">
								<div class="m-widget4__item">
									<div class="m-widget4__img m-widget4__img--pic"> <img
											src="./../../../../../assets/demo/demo4/media/img/logo/cowork5.jpg" alt="">
									</div>
									<div class="m-widget4__info">
										<span class="m-widget4__title">
											Rove DownTown
										</span><br>
										<div style="padding-top: 10px;">
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star"></span>
											<span class="fa fa-star"></span>3
										</div>
										<div style="padding-top: 10px;">
											<span class="m-widget4__sub"> <i class="fa fa-map-marker-alt"></i> 312
												Happiness Street, Zabeel 2 </span>
										</div>
										<div style="padding-top: 10px;">
											<span class="m-widget4__sub">
												<i class="fa fa-wifi" style="color: #538EFD;">Wifi</i>
												<i class="fa fa-chalkboard" style="color: #538EFD;">Whiteboard</i>
											</span>
										</div>
										<div style="padding-top: 5px;">
											<span class="m-widget4__sub">
												<i class="fa fa-car" style="color: #538EFD;">Parking</i>
												<i class="fa fa-tv" style="color: #538EFD;">Projector</i>
											</span>
										</div>
									</div>
									<div class="m-widget4__ext">
										<div class="m-widget4__info">
											<div
												style="height: 100px;width: 250px; background-color: #F2F7FF; padding: 10px;">
												<span class=""
													style="font-size: 20px; color: #6dd300; font-weight: 600;">
													AED 150/Hour
												</span><br>
												<div style="padding-top: 10px;">
													<span class="m-widget4__sub"> <i class="fa fa-check"
															style="color: #3078FF"></i>Book Instantly </span> <br>
													<span class="m-widget4__sub"> <i class="fa fa-check"
															style="color: #3078FF;"></i>Cancel for free up to 24 hours
														before </span>
												</div>
											</div>
										</div>
										<div style="padding: 5px 30px 0px 40px;">
											<i class="fa fa-users" style="color: #3078FF;"></i>
											<span class="m-widget4__sub" style="color: #3078FF; font-weight: 600;">6
												Meeting Rooms</span>
										</div>
										<br>
										<div style="padding-left: 16px;">
											<a href="#" class="m-btn m-btn--pill btn btn-info" style="width: 220px;
										height: 40px;
										border-radius: 10px;
										background-color: #3078ff;">View Room</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-xl-12">
			<div class="m-portlet m-portlet--full-height">
				<div class="m-portlet__body">
					<div class="tab-content">
						<div class="tab-pane active" id="m_widget4_tab1_content">
							<div class="m-widget4">
								<div class="m-widget4__item">
									<div class="m-widget4__img m-widget4__img--pic"> <img
											src="./../../../../../assets/demo/demo4/media/img/logo/cowork3.jpg" alt="">
									</div>
									<div class="m-widget4__info">
										<span class="m-widget4__title">
											Rove Dubai Marina
										</span><br>
										<div style="padding-top: 10px;">
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star"></span>
											<span class="fa fa-star"></span>3
										</div>

										<div style="padding-top: 10px;">
											<span class="m-widget4__sub"> <i class="fa fa-map-marker-alt"></i>Marina,
												119444 - Al Seba Street</span>

										</div>

										<div style="padding-top: 10px;">
											<span class="m-widget4__sub">
												<i class="fa fa-wifi" style="color: #538EFD;">Wifi</i>
												<i class="fa fa-chalkboard" style="color: #538EFD;">Whiteboard</i>
											</span>
										</div>

										<div style="padding-top: 5px;">
											<span class="m-widget4__sub">
												<i class="fa fa-car" style="color: #538EFD;">Parking</i>
												<i class="fa fa-tv" style="color: #538EFD;">Projector</i>
											</span>
										</div>

									</div>
									<div class="m-widget4__ext">
										<div class="m-widget4__info">
											<div
												style="height: 100px;width: 250px; background-color: #F2F7FF; padding: 10px;">
												<span class=""
													style="font-size: 20px; color: #6dd300; font-weight: 600;">
													AED 150/Hour
												</span><br>
												<div style="padding-top: 10px;">
													<span class="m-widget4__sub"> <i class="fa fa-check"
															style="color: #3078FF"></i>Book Instantly </span> <br>
													<span class="m-widget4__sub"> <i class="fa fa-check"
															style="color: #3078FF;"></i>Cancel for free up to 24 hours
														before </span>
												</div>
											</div>
										</div>
										<div style="padding: 5px 30px 0px 40px;">
											<i class="fa fa-users" style="color: #3078FF;"></i>
											<span class="m-widget4__sub" style="color: #3078FF; font-weight: 600;">5
												Meeting Rooms</span>
										</div>
										<br>
										<div style="padding-left: 16px;">
											<a href="#" class="m-btn m-btn--pill btn btn-info" style="width: 220px;
										height: 40px;
										border-radius: 10px;
										background-color: #3078ff;">View Room</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>