<div class="m-grid__item m-grid__item--fluid m-header-head" id="m_header_nav" appunwraptag="">
    <div id="m_header_topbar" class="m-topbar  m-stack m-stack--ver m-stack--general" style="margin-left: -60px;">
        <div class="m-stack__item m-topbar__nav-wrapper">
            <div class="m-subheader-search">
                <form class="m-form">
                    <div class="m-grid m-grid--ver-desktop m-grid--desktop">
                        <div class="m-grid__item m-grid__item--middle">
                            <div class="m-input-icon m-input-icon--fixed m-input-icon--fixed-large m-input-icon--right">
                                <input type="text" class="form-control form-control-lg m-input m-input--pill"
                                    placeholder="Where" id="menu1" data-toggle="dropdown">
                                <span class="m-input-icon__icon m-input-icon__icon--right"><span>
                                        <i class="fas fa-search"></i></span></span>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1" style="width: 200px;
                                    height: 310px;
                                    object-fit: contain;
                                    border-radius: 10px;
                                    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.07);
                                    background-color: #ffffff;">
                                    <li role="presentation">
                                        <a role="menuitem" tabindex="-1" href="#">
                                            <i class="fa fa-location-arrow"> </i>
                                            Search Nearby Places
                                        </a>
                                    </li>
                                    <div class="dropdown-divider"></div>
                                    <li role="presentation">
                                        <a role="menuitem" tabindex="-1" href="#" class="m--font-info"
                                            style="font-weight: 600;">
                                            Popular Areas
                                        </a>
                                    </li>
                                    <div class="dropdown-divider"></div>
                                    <li role="presentation">
                                        <a role="menuitem" tabindex="-1" href="#">
                                            <i class="fa fa-map-marker-alt" style="padding-top: 12px;"> </i>
                                            Dubai Marina Walk
                                            <small style="padding-left: 20px; color: #cccccc;">United Arab
                                                Emirates</small>
                                        </a>
                                    </li>
                                    <div class="dropdown-divider"></div>
                                    <li role="presentation">
                                        <a role="menuitem" tabindex="-1" href="#">
                                            <i class="fa fa-map-marker-alt" style="padding-top: 12px;"> </i>
                                            Rove City Center
                                            <small style="padding-left: 20px; color: #cccccc;">United Arab
                                                Emirates</small>
                                        </a>
                                    </li>
                                    <div class="dropdown-divider"></div>
                                    <li role="presentation">
                                        <a role="menuitem" tabindex="-1" href="#">
                                            <i class="fa fa-map-marker-alt" style="padding-top: 12px;"> </i>
                                            Rove Downtown Dubai
                                            <small style="padding-left: 20px; color: #cccccc;">United Arab
                                                Emirates</small>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="m-input-icon m-input-icon--fixed m-input-icon--fixed-md m-input-icon--right">
                                <input type="text" class="form-control form-control-lg m-input m-input--pill"
                                    placeholder="When" id="m_dashboard_daterangepicker">
                                <span class="m-input-icon__icon m-input-icon__icon--right">
                                    <span><i class="la la-calendar-check-o"
                                            id="m_dashboard_daterangepicker"></i></span></span>
                            </div>
                            <div class="m-input-icon m-input-icon--fixed m-input-icon--fixed-md m-input-icon--right">
                                <input type="text" class="form-control form-control-lg m-input m-input--pill"
                                    placeholder="Capacity">
                                <span class="m-input-icon__icon m-input-icon__icon--right">
                                    <span><i class="la la-users"></i></span></span>
                            </div>
                        </div>
                        <div class="m-grid__item m-grid__item--middle" style="padding-left: 10px;">
                            <div class="m--margin-top-20 m--visible-tablet-and-mobile"></div>
                            <button routerLink="/search" type="button"
                                class="btn m-btn--pill    btn-outline-primary m-btn m-btn--custom">Search</button>
                        </div>

                        <div class="m-grid__item m-grid__item--middle" style="padding-left: 10px;">
                            <div class="m--margin-top-20 m--visible-tablet-and-mobile"></div>
                            <a href="#" style="font-size: 14px; color: #414141; font-weight: 500;padding-left: 230px;">Login | Singup</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>