<div class="m-grid__item m-brand" appunwraptag="">
    <div class="m-stack m-stack--ver m-stack--general m-stack--inline" style="height: 70%;">
        <div class="m-stack__item m-stack__item--middle m-brand__logo">
            <a routerLink="/index" class="m-brand__logo-wrapper"> <img alt=""
                    src="./assets/demo/demo4/media/img/logo/letswork.png" height="60px" /> </a>
        </div>
        <div class="m-stack__item m-stack__item--middle m-brand__tools">

            <a id="m_aside_header_menu_mobile_toggle" href="javascript:;"
                class="m-brand__icon m-brand__toggler m--visible-tablet-and-mobile-inline-block">
                <i class="flaticon-menu" style="color: #33A2CE;"></i>
            </a>
            <a id="m_aside_header_topbar_mobile_toggle" href="javascript:;"
                class="m-brand__icon m--visible-tablet-and-mobile-inline-block"> <i class="flaticon-more"
                    style="color: #33A2CE;"></i> </a>
        </div>
    </div>
</div>