<div class="m-stack__item m-stack__item--middle m-stack__item--fluid" appunwraptag="">
  <button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light"
    id="m_aside_header_menu_mobile_close_btn"><i class="la la-close"></i></button>
  <div id="m_header_menu"
    class="m-header-menu m-aside-header-menu-mobile m-aside-header-menu-mobile--offcanvas  m-header-menu--skin-light m-header-menu--submenu-skin-light m-aside-header-menu-mobile--skin-light m-aside-header-menu-mobile--submenu-skin-light"
    style="padding-left: 8%;">
    <ul class="m-menu__nav  m-menu__nav--submenu-arrow">
      <li class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
        aria-haspopup="true">
        <a routerLink="/index" class="m-menu__link">
          <span class="m-menu__link-text">Amenities
            <a href="#" class="">
              <i class="la la-angle-down"></i>
            </a>
          </span>
        </a>
      </li>
      <li class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
        aria-haspopup="true" style="padding-top: 10px;">
        <label class="m-checkbox m-checkbox--solid m-checkbox--single m-checkbox--brand"
          style=" padding-left: 25px; font-weight: 600;"> MeetingRooms
          <input type="checkbox" checked><span></span>
        </label>
      </li>
      <li class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
        aria-haspopup="true" style="padding-top: 10px; padding-left: 110px;">
        <label class="m-checkbox m-checkbox--solid m-checkbox--single m-checkbox--brand" style=" font-weight: 600;">
          PrivateOffice
          <input type="checkbox"><span></span>
        </label>
      </li>
    </ul>
  </div>

  

</div>

