
<div class="m-footer__wrapper" appunwraptag="" style="padding: 25px 0;">
  <div class="m-stack m-stack--flex-tablet-and-mobile m-stack--ver m-stack--desktop">
    <footer id="footer" class="footer-1" >
      <div class="main-footer widgets-dark typo-light" style="padding: 45px 0">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="widget subscribe no-box">
                <h5 class="widget-title" style="font-size: 12px;">2020 Letswork LLC<span></span></h5>
                <p>P.O. Box 9440 </p>
                <p>Dubai </p>
                <p>UAE </p>
                <a href="" style="color: white">+971 4 245 5354</a><br>
                <a href="" style="color: white">team@letswork.io</a>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="widget no-box">
                <h5 class="widget-title" style="font-size: 12px;">Lets Work<span></span></h5>
                <ul class="thumbnail-widget">
                  <li>
                    <div class="thumb-content"><a href="#." style="color: white;">Our Story</a></div>
                  </li>
                  <li>
                    <div class="thumb-content"><a href="#." style="color: white;">Locations</a></div>
                  </li>
                  <li>
                    <div class="thumb-content"><a href="#." style="color: white;">Membership</a></div>
                  </li>
                  <li>
                    <div class="thumb-content"><a href="#." style="color: white;">Services</a></div>
                  </li>
                  <li>
                    <div class="thumb-content"><a href="#." style="color: white;">FAQ</a></div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="widget no-box">
                <h5 class="widget-title" style="font-size: 12px;">Company<span></span></h5>
                <p>Press</p>
                <p>Terms and Conditions</p>
                <p>Privacy Policy</p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="widget no-box">
                <ul class="social-footer2">
                  <li class="">
                    <a title="facebook" target="_blank" href="#">
                      <i class="fab fa-facebook"> </i>
                    </a>
                  </li>
                  <li class="" style="padding-left: 10px;">
                    <a title="instagram" target="_blank" href="#">
                      <i class="fab fa-instagram"> </i>
                    </a>
                  </li>
                  <li class="" style="padding-left: 10px;">
                    <a title="twitter" target="_blank" href="#">
                      <i class="fab fa-twitter"> </i>
                    </a>
                  </li>
                  <li class="" style="padding-left: 10px;">
                    <a title="linkedin" target="_blank" href="#">
                      <i class="fab fa-linkedin"> </i>
                    </a>
                  </li>
                  <li class="" style="padding-left: 10px;">
                    <a title="youtube" target="_blank" href="#">
                      <i class="fab fa-youtube"> </i>
                    </a>
                  </li>

                </ul>

                <div style="padding-top: 40px;">
                  <p style="font-size: 8px;">
                    Join 20,000+ Letsworkers who receive a montly <br> email of community events & inspiring reads
                  </p>
                  <input type="text" class="form-control" placeholder="Email Address"><br>
                <a class="btn m-btn--pill btn-primary m-btn" href="#." target="_blank" style="background-color: #2C8DA0;
            border-color: white;">Register Now
                </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>