<div class="m-content">

    <div class="row">
        <div class="card " style="border: 0px;">
            <div class="card-body">
                <h5 class="card-title " style="font-size: 18px;">On-Demand Meeting Spaces in Dubai</h5>
                <p class="card-subtitle mb-2 text-muted" style="font-size: 14px;padding-top: 10px;">Meetings, offsites,
                    events, interviews. Beautiful private space <br>
                    for productive work available for instant booking online.</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card ">
            <div class="card-body">
                <h5 class="card-title " style="font-size: 18px;">Great places for Workshops</h5>
                <div style="overflow: hidden;">
                    <p class="card-subtitle mb-2 text-muted" style="float: left;font-size: 14px;padding-top: 10px">Based
                        on our most booking spaces</p>
                    <p class="card-subtitle mb-2 text-muted"
                        style="float: right;font-size: 14px;padding-top: 10px; padding-left: 782px;">See all (30)</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div id="container">
                    <img class="card-img-top rounded"
                        src="./../../../../../assets/demo/demo4/media/img/logo/cowork3.jpg" width="100" height="200"
                        alt="Card image cap">
                    <p id="text">
                        From AED 150/Hour
                    </p>
                </div>
                <div class="card-body">
                    <a class="card-title card-link" style="font-size: 16px;font-weight: 600;">Card title</a>
                    <a href="#" class="card-link" style="font-size: 12px;font-weight: 500;"> <i
                            class="fas fa-users"></i> 3 Meeting Rooms</a>
                    <p class="card-text"> <i class="fas fa-map-marker-alt"></i> 24th/19th B Street, Deira </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div id="container">
                    <img class="card-img-top rounded"
                        src="./../../../../../assets/demo/demo4/media/img/logo/cowork4.jpg" width="100" height="200"
                        alt="Card image cap">
                    <p id="text">
                        From AED 150/Hour
                    </p>
                </div>
                <div class="card-body">
                    <a class="card-title card-link" style="font-size: 16px;font-weight: 600;">Card title</a>
                    <a href="#" class="card-link" style="font-size: 12px;font-weight: 500;"> <i
                            class="fas fa-users"></i> 3 Meeting Rooms</a>
                    <p class="card-text"> <i class="fas fa-map-marker-alt"></i> 24th/19th B Street, Deira </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div id="container">
                    <img class="card-img-top rounded"
                        src="./../../../../../assets/demo/demo4/media/img/logo/cowork2.jpg" width="100" height="200"
                        alt="Card image cap">
                    <p id="text">
                        From AED 150/Hour
                    </p>
                </div>
                <div class="card-body">
                    <a class="card-title card-link" style="font-size: 16px;font-weight: 600;">Card title</a>
                    <a href="#" class="card-link" style="font-size: 12px;font-weight: 500;"> <i
                            class="fas fa-users"></i> 3 Meeting Rooms</a>
                    <p class="card-text"> <i class="fas fa-map-marker-alt"></i> 24th/19th B Street, Deira </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card ">
            <div class="card-body">
                <h5 class="card-title " style="font-size: 18px;">Great spaces for Meeting Rooms</h5>
                <div style="overflow: hidden;">
                    <p class="card-subtitle mb-2 text-muted" style="float: left;font-size: 14px;padding-top: 10px">Based
                        on our most booking spaces</p>
                    <p class="card-subtitle mb-2 text-muted"
                        style="float: right;font-size: 14px;padding-top: 10px; padding-left: 782px;">See all (130)</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div id="container">
                    <img class="card-img-top rounded"
                        src="./../../../../../assets/demo/demo4/media/img/logo/cowork5.jpg" width="100" height="200"
                        alt="Card image cap">
                    <p id="text">
                        From AED 150/Hour
                    </p>
                </div>
                <div class="card-body">
                    <a class="card-title card-link" style="font-size: 16px;font-weight: 600;">Meeting Room - 1</a>
                    <a href="#" class="card-link" style="font-size: 12px;font-weight: 500;"> 550.0 sq.ft</a>
                    <p class="card-text"> Up to 12 Persons </p>
                    <p class="card-text"> <i class="fas fa-map-marker-alt"></i> 24th/19th B Street, Deira </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div id="container">
                    <img class="card-img-top rounded"
                        src="./../../../../../assets/demo/demo4/media/img/logo/cowork6.jpg" width="100" height="200"
                        alt="Card image cap">
                    <p id="text">
                        From AED 150/Hour
                    </p>
                </div>
                <div class="card-body">
                    <a class="card-title card-link" style="font-size: 16px;font-weight: 600;">Meeting Room - 1</a>
                    <a href="#" class="card-link" style="font-size: 12px;font-weight: 500;"> 550.0 sq.ft</a>
                    <p class="card-text"> Up to 12 Persons </p>
                    <p class="card-text"> <i class="fas fa-map-marker-alt"></i> 24th/19th B Street, Deira </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div id="container">
                    <img class="card-img-top rounded"
                        src="./../../../../../assets/demo/demo4/media/img/logo/cowork8.jpg" width="100" height="200"
                        alt="Card image cap">
                    <p id="text">
                        From AED 150/Hour
                    </p>
                </div>
                <div class="card-body">
                    <a class="card-title card-link" style="font-size: 16px;font-weight: 600;">Meeting Room - 1</a>
                    <a href="#" class="card-link" style="font-size: 12px;font-weight: 500;"> 550.0 sq.ft</a>
                    <p class="card-text"> Up to 12 Persons </p>
                    <p class="card-text"> <i class="fas fa-map-marker-alt"></i> 24th/19th B Street, Deira </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="border-top: 1px solid #ebedf2; border-bottom: 1px solid #ebedf2;">
        <div class="col-md-6">
            <div class="card" style="padding: 4.2rem;">
                <div class="card-body">
                    <h5 class="card-title" style="font-size: 18px;font-weight:600;">The Most Flexible Way to Rent Office
                        Space</h5>
                    <p class="card-text">Skip long-term leases and coworking distractions.
                        Breather provides your business with modern
                        office space that’s fully furnished, all-inclusive
                        and entirely your own.
                    </p>
                    <a href="#" class="btn m-btn--pill btn-outline-primary m-btn m-btn--custom"
                        style="margin-left: 100px; margin-top: 20px;">Explore Office Spaces</a>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card" style=" padding: 1.2rem;">

                <img class="card-img-top rounded" src="./../../../../../assets/demo/demo4/media/img/logo/cowork8.jpg"
                    width="100" height="300">
            </div>
        </div>

    </div>

    <div class="row">
        <div class="card ">
            <div class="card-body">
                <h5 class="card-title " style="font-size: 18px;">Dubai</h5>
                <div style="overflow: hidden;">
                    <p class="card-subtitle mb-2 text-muted" style="float: left;font-size: 14px;padding-top: 10px">Based
                        on our most booking spaces</p>
                    <p class="card-subtitle mb-2 text-muted"
                        style="float: right;font-size: 14px;padding-top: 10px; padding-left: 702px;"></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div id="container">
                    <img class="card-img-top rounded"
                        src="./../../../../../assets/demo/demo4/media/img/logo/cowork5.jpg" width="100" height="200"
                        alt="Card image cap">
                    <p id="text">
                        From AED 150/Hour
                    </p>
                </div>
                <div class="card-body">
                    <a class="card-title card-link" style="font-size: 16px;font-weight: 600;">Meeting Room - 1</a>
                    <a href="#" class="card-link" style="font-size: 12px;font-weight: 500;"> 550.0 sq.ft</a>
                    <p class="card-text"> Up to 12 Persons </p>
                    <p class="card-text"> <i class="fas fa-map-marker-alt"></i> 24th/19th B Street, Deira </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div id="container">
                    <img class="card-img-top rounded"
                        src="./../../../../../assets/demo/demo4/media/img/logo/cowork6.jpg" width="100" height="200"
                        alt="Card image cap">
                    <p id="text">
                        From AED 150/Hour
                    </p>
                </div>
                <div class="card-body">
                    <a class="card-title card-link" style="font-size: 16px;font-weight: 600;">Meeting Room - 1</a>
                    <a href="#" class="card-link" style="font-size: 12px;font-weight: 500;"> 550.0 sq.ft</a>
                    <p class="card-text"> Up to 12 Persons </p>
                    <p class="card-text"> <i class="fas fa-map-marker-alt"></i> 24th/19th B Street, Deira </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div id="container">
                    <img class="card-img-top rounded"
                        src="./../../../../../assets/demo/demo4/media/img/logo/cowork8.jpg" width="100" height="200"
                        alt="Card image cap">
                    <p id="text">
                        From AED 150/Hour
                    </p>
                </div>
                <div class="card-body">
                    <a class="card-title card-link" style="font-size: 16px;font-weight: 600;">Meeting Room - 1</a>
                    <a href="#" class="card-link" style="font-size: 12px;font-weight: 500;"> 550.0 sq.ft</a>
                    <p class="card-text"> Up to 12 Persons </p>
                    <p class="card-text"> <i class="fas fa-map-marker-alt"></i> 24th/19th B Street, Deira </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="padding-top: 25px;">
        <div class="col-md-4">
            <div class="card">
                <div id="container">
                    <img class="card-img-top rounded"
                        src="./../../../../../assets/demo/demo4/media/img/logo/cowork4.jpg" width="100" height="200"
                        alt="Card image cap">
                    <p id="text">
                        From AED 150/Hour
                    </p>
                </div>
                <div class="card-body">
                    <a class="card-title card-link" style="font-size: 16px;font-weight: 600;">Meeting Room - 1</a>
                    <a href="#" class="card-link" style="font-size: 12px;font-weight: 500;"> 550.0 sq.ft</a>
                    <p class="card-text"> Up to 12 Persons </p>
                    <p class="card-text"> <i class="fas fa-map-marker-alt"></i> 24th/19th B Street, Deira </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div id="container">
                    <img class="card-img-top rounded"
                        src="./../../../../../assets/demo/demo4/media/img/logo/cowork2.jpg" width="100" height="200"
                        alt="Card image cap">
                    <p id="text">
                        From AED 150/Hour
                    </p>
                </div>
                <div class="card-body">
                    <a class="card-title card-link" style="font-size: 16px;font-weight: 600;">Meeting Room - 1</a>
                    <a href="#" class="card-link" style="font-size: 12px;font-weight: 500;"> 550.0 sq.ft</a>
                    <p class="card-text"> Up to 12 Persons </p>
                    <p class="card-text"> <i class="fas fa-map-marker-alt"></i> 24th/19th B Street, Deira </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div id="container">
                    <img class="card-img-top rounded"
                        src="./../../../../../assets/demo/demo4/media/img/logo/cowork1.jpg" width="100" height="200"
                        alt="Card image cap">
                    <p id="text">
                        From AED 150/Hour
                    </p>
                </div>
                <div class="card-body">
                    <a class="card-title card-link" style="font-size: 16px;font-weight: 600;">Meeting Room - 1</a>
                    <a href="#" class="card-link" style="font-size: 12px;font-weight: 500;"> 550.0 sq.ft</a>
                    <p class="card-text"> Up to 12 Persons </p>
                    <p class="card-text"> <i class="fas fa-map-marker-alt"></i> 24th/19th B Street, Deira </p>
                </div>
            </div>
        </div>
    </div>



</div>


<app-doughnutchart></app-doughnutchart>